.body-background {
  background-image: url("../assets/images/color_two.jpg");
  background-repeat: no-repeat;
  width: 80%;
  margin: auto;
  padding: 3%;
}
li {
  list-style-type: none;
}
.body {
  width: 80%;
  margin: auto;
  margin-top: 1%;
  font-family: 'Indie Flower', cursive;
}
h5 {
  margin: 2% 0;
}
.acord {
  margin: 2% 0;
}
tr td {
  text-align: center;
  vertical-align: middle;
}
.tableForToday {
  margin-top: 2%;
  background-color: #ffffff;
  border: 1px solid #D6D6D6;
  opacity: 0.85;
  padding: 2%;
}
.tableForToday p {
  font-weight: bold;
  color: black;
}
.font-weight {
  font-size: 1.6em;
}
