<div class="body-background z-depth-2">
  <div class="body">

    <nav>
      <div class="nav-wrapper menu">
        <a style = "text-decoration: none" href="#" class="brand-logo left">&nbsp; KristiWeather</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/datePicker">Weather for ...</a></li>
          <li><a routerLink="/weatherInUkraine">Ukraine</a></li>
          <li><a routerLink="/weatherInEurope">Europe</a></li>
        </ul>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>
</div>
