<div class="images">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block img-fluid" style="width:200%" src="../assets/images/weather1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" style="width:200%; hight: auto" src="../assets/images/weather2.jpg"
             alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" style="width:200%" src="../assets/images/weather3.jpg" alt="Third slide">
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jambo">
  <div class="container">
    <h1 class="display-3">weather forecast for tonight: dark </h1>
    <p class="lead">Data for weather forecast is taken from <a class="link" href="http://openweathermap.org">openweathermap</a><br>Data
      for getting Ukrainian cities is taken from <a class="link" href="https://maps.googleapis.com">Google Maps
        APIs </a><br>Please install extension <a class="link"
        href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi">
        Allow-Control-Allow-Origin</a> for correct work</p>
  </div>
</div>
