<div class="acord">
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input id = "preferredDate" class="form-control font" placeholder="Please select a date"
               name="dp" [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"
               #d="ngbDatepicker" (change)="getDating">
        <div class="input-group-addon" (click)="d.toggle()">
          <img src="../assets/images/flat.png" style="width: 1.9rem; height: 1.7rem; cursor: pointer;"/>
        </div>
      </div>
    </div>
  </form>

  <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
               let-disabled="disabled" let-focused="focused">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
  </ng-template>
</div>
