<div class="acord">
  <button type="button" class="btn btn-secondary button font " data-toggle="modal" data-target="#exampleModal"
          data-whatever="@fat">Click the button to get the weather
  </button>

  <!--madol window-->
  <div class="modal fade menu" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please select the date and enter the city name to get the
            weather
            forecast</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">

              <!--datepicker-->
              <div class="acord">
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input id="preferredDate" class="form-control font" placeholder="Please select a date"
                             name="dp" [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay"
                             [markDisabled]="isDisabled"
                             #d="ngbDatepicker">
                      <div class="input-group-addon" (click)="d.toggle()">
                        <img src="../assets/images/flat.png" style="width: 1.9rem; height: 1.7rem; cursor: pointer;"/>
                      </div>
                    </div>
                  </div>
                </form>
                <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                             let-disabled="disabled" let-focused="focused">
                <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
                      [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth"
                      [class.text-muted]="disabled">
                {{ date.day }}
              </span>
                </ng-template>
              </div>
              <!--the end of datepicker-->
            </div>
            <div class="form-group">
              <input type="text" class="form-control font " id="cityName" placeholder="name of the city"
                     [(ngModel)]="myCity" name="myCity">
            </div>
          </form>
        </div>
        <div class="footer">
          <button type="button" class="btn btn-secondary font closeButton" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary font menu" (click)="getForecastByDate()" data-dismiss="modal">
            Get the weather forecast
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Output of weather data-->
<div class="acord">
  <div *ngIf="myCity && myCityWeatherData && wantedDay">
    <div class="tableForToday">
      <h5>The weather in {{myCityWeatherData.city.name}} in {{myCityWeatherData.city.country}} for {{model.day}} -
        {{model.month}} - {{model.year}} </h5>
      <table class="table table-responsive table table-bordered">
        <thead>
        <tr>
          <th>Weather icon</th>
          <th>Temperature, day &#8451;</th>
          <th>Temperature, night &#8451;</th>
          <th>Wind, m/s</th>
          <th>Humidity, %</th>
          <th>Pressure, hpa</th>
          <th>Cloudiness of the sky</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><img src="http://openweathermap.org/img/w/{{wantedDay.weather[0].icon}}.png"
                   alt="icon"></td>
          <td>{{roundNumber(wantedDay.temp.day)}}</td>
          <td>{{roundNumber(wantedDay.temp.night)}}</td>
          <td>{{roundNumber(wantedDay.speed)}}</td>
          <td>{{wantedDay.humidity}}</td>
          <td>{{roundNumber(wantedDay.pressure)}}</td>
          <td>{{wantedDay.weather[0].description}}</td>
        </tr>
      </table>
    </div>
  </div>
  <!--alert if bad request-->
  <div *ngIf="badRequest">
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong>
      <p>Select day, city and try submitting again.</p>
    </div>
  </div>
  <div *ngIf="badCityName">
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong>
      <p>City name is not correct. </p>
    </div>
  </div>
</div>
