.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover, .custom-day.focused {
  background-color: #41D8F3  ;
}
.weekend {
  background-color: #006064;
  border-radius: 1rem;
  color: white;
}
.hidden {
  display: none;
}
.custom-day.range {
  background-color: #0275d8;
  color: white;
}
.faded {
  opacity: 0.5;
}
.button {
  width: 100%;
}
.closeButton {
  background: linear-gradient(#FFC5E7, #970C5E);
  color: #FDFEFE;
}
