<div>
  <!--forecastWeather-->
  <div *ngIf="city && forecastWeatherData">
    <div [attr.id]="'accordion_' + i" class="acord" role="tablist" aria-multiselectable="true">
      <div class="card" *ngFor="let listItem of forecastWeatherData.list let i = index;">
        <div class="card-header" role="tab" [attr.id]="'headingOne_' + i">
          <h5 class="mb-0">
            <a data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i"
               aria-expanded="true"
               aria-controls="'#collapseOne_' + i">
              Weather for {{city.name}} {{getDate(listItem.dt)}}
            </a>
          </h5>
        </div>

        <div [attr.id]="'collapseOne_' + i" class="collapse" role="tabpanel" aria-labelledby="'headingOne_' + i">
          <div class="card-block">
            <table class="table table-responsive table table-bordered">
              <thead>
              <tr>
                <th>Weather icon</th>
                <th>Temperature, day &#8451;</th>
                <th>Temperature, night &#8451;</th>
                <th>Wind, m/s</th>
                <th>Humidity, %</th>
                <th>Pressure, hpa</th>
                <th>Cloudiness of the sky</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><img src="http://openweathermap.org/img/w/{{listItem.weather[0].icon}}.png"
                         alt="icon"></td>
                <td>{{convertTemp(listItem.temp.day)}}</td>
                <td>{{convertTemp(listItem.temp.night)}}</td>
                <td>{{roundNumber(listItem.speed)}}</td>
                <td>{{listItem.humidity}}</td>
                <td>{{roundNumber(listItem.pressure)}}</td>
                <td>{{listItem.weather[0].description}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
